/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2017, 6:48:28 PM
    Author     : Ilinca
*/
.container-border-table{
    border: 1px solid black;
}
.strong-word{
    font-weight: bold;
}
.breakfast-div{
    background-color: papayawhip;
}
.lunch-div{
    background-color: peachpuff;
}
.dinner-div{
    background-color: papayawhip;
}
.food-style{
    font-size: 10px;
}
.column-color{
    background-color: bisque;
}
.column-color2{
    background-color: blanchedalmond;
}
.hidden{
    visibility: hidden;
}
.container-middle {
    margin-right: auto;
    margin-left: auto;
    background: #F7F7F7;
}

.mx-center{
    margin-left: 63px !important;
    margin-right: 63px !important;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;

}
.label-form{
    font-weight: normal;
    padding-right: 10px; 


}
.label-margin{

    margin-left: 53px;
}
.btn-color{
    background: #46515e;
    color: white;
    margin-right: 8px!important;
     width: 19%;
    height: 47px;
    padding-top: 12px !important;
    margin-left: 3px;
}
.btn-color:hover{
    background: #7ac142;
    color: white !important;
    padding-top: 12px !important;
}
.select-style{     
    width: 19%;
    height: 47px;
};
